.blog-post{
  background-color: #f4f4f4;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
}
.user{
  background-color: blueviolet;
  color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.container{
  background-color: #ccc;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 20px auto;
  width: 50%;
  
 
}

.user-image{
  width: 80px;
  height: 80px;
  border-radius:100%;
  margin: 0 auto;
  display: block;
}
.user-item{
  display: flex;
  gap: 10px;
  margin: 10px 0;
  background-color: rgb(240, 245, 243);
  padding: 20px;
  border-radius: 10px;
}

.user-details{
  display: flex;
  flex-direction: column;
  gap: 2px;
  
}

.user-status{
  font-weight: bold;
  margin-top: 10px;
}

.user-name{
  font-weight: bold;
 
}
.user-active{
  background-color: #80bc80;
  color: white;
}

.user-inactive{
  background-color: #d88383;
  color: white;
}