<div class="container my-5 z-depth-1" style="margin: 20px">

  <!--Section: Content-->
  <section class="dark-grey-text">

    <div class="row pr-lg-5">
      <div class="col-md-7 mb-4">

      </div>
      <div class="col-md-5 d-flex align-items-center">
        <div>
          
          <h3 class="font-weight-bold mb-4">Material Design Blocks</h3>

          <p>Lorem ipsum dolor sit amet consectetur adip elit. Maiores deleniti explicabo voluptatem quisquam nulla asperiores aspernatur aperiam voluptate et consectetur minima delectus, fugiat eum soluta blanditiis adipisci, velit dolore magnam.</p>

          <button type="button" class="btn btn-orange btn-rounded mx-0">Download</button>

        </div>
      </div>
    </div>

  </section>
  <!--Section: Content-->
</div>
<mat-divider></mat-divider>
<mat-card class="example-card " appearance="outlined" style="margin: 20px">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg" alt="Photo of a Shiba Inu" style="width: 300px; background-size: cover; padding: 10px;">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
<mat-divider></mat-divider>
<section style="margin: 20px;">
  <div class="example-label">Flat</div>
  <div class="example-button-row">
    <button mat-flat-button matTooltip="Basic Button">Basic</button>
    <button mat-flat-button disabled>Disabled</button>
    <a mat-flat-button href="https://www.google.com/" target="_blank" matTooltip="Link Button">Link</a>
  </div>
</section>






